<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"> </script>
    <title>Test de personnalité</title>
</head>
<body style="background-color:#AED6F1">
    <header class="bg-blue-500">
        <h1 class="text-center text-2xl text-white py-8">Quel personnage de <i>Sonic Boom</i> es-tu ?</h1>
    </header>

    <main>
        <img src="/static/sonic.png">
        <p class="">Réponds aux questions suivantes pour savoir de quel personnage du dessin animé Sonic Boom tu es le plus proche !</p>
        
        <a class=" underline text-blue-500" href="/question"> C'est parti !</a>
    </main>

    <footer>
        <p>Copyright : morgane</p>
    </footer>
</body>
</html>