<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Quizz</title>
</head>
<body>
    <header>
        <h1 class="text-center text-white font-semibold text-3xl bg-blue-300  py-4"> Quel personnage de Sonic es-tu ? </h1>
    </header>

    <main >
        <h1 class="text-center font-bold text-2xl py-4"> Tu es {{vainqueur}} ! </h1>

        <div class="flex justify-center py-8">
        <img src="/static/{{vainqueur}}.png">
        </div>

        <h1 class="text-center font-bold text-2xl py-4"> {{description}} </h1>
        
        <div>
            <a class="underline text-blue-500" href="/question"> Réessayer ?</a>
        </div>

    </main>

    <footer class="fixed bottom-0 w-full">
        <p class="text-center text-white font-semibold text-2xl bg-blue-300  py-2"> Copyright @ SEGA </p>

    </footer>
</body>
</html>